spring:
  main:
    web-application-type: none
    banner-mode: off
  ai:
    mcp:
      server:
        stdio: true            # 启用stdio模式
        name: check-sensitive-word-server # 服务器名称
        version: 0.0.1         # 服务器版本